django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary==2.9.9
pillow
python-decouple
celery
redis
django-celery-beat
channels
channels-redis
razorpay
openai==1.30.0
PyPDF2==3.0.1
python-docx==1.1.0
django-imagekit==5.0
whitenoise
pytest-django
factory-boy
django-debug-toolbar
